.select{
    cursor: pointer;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    
}

.mainList{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 4px;
    width: 40%;
    max-height: 400px;
    overflow-y: auto;
    background-color: #202121;
    z-index: auto;
    position: absolute;
    
}
.hide{
  display: none;
}
.resultitem{
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #2e2d2d;
    padding-bottom: 5px;
}
.resultitem img{
    width: 30px;
    border-radius: 50%;
}
.mainList::-webkit-scrollbar {
  width: 10px;
}
.mainList::-webkit-scrollbar-track {
  background: #8b8b8b; /* رنگ پس‌زمینه */
  border-radius: 10px;
}

.mainList::-webkit-scrollbar-thumb {
  background: #2e2d2d; /* رنگ دستگیره */
  border-radius: 10px;
}

.mainList::-webkit-scrollbar-thumb:hover {
  background: #555; /* رنگ هنگام هاور */
}
.itemName{
    font-size: 18px;
    font-weight: 500;
}
.itemSymbol{
    font-size: 12px;
    color: #555;
}
.searchInput{
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: #575656;
  color: #fff;
}
.searchInput::-webkit-input-placeholder{
  color: #c7bcbc;
  font-size: 14px;
}