*{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    width: 80px;
    
}
.list{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

 .list li:hover{
    color: #a2a3a4;

}
.btn1{
    border: none;
    padding: 8px 15px;
    background-color: inherit;
    color: #3874ff;
    border-radius:8px ;
    margin-right: 6px;
}
.btn1:hover{
    border: #3874ff;
    background-color: #3874ff;
    color: #fff;
}
.btn2{
    border: none;
    padding:8px 15px ;
    background-color: #3874ff;
    color: #fff;
    border-radius: 8px;
}
.btn2:hover{
    cursor: pointer;
    background-color: #fff;
    color: #3874ff;
}